{% extends 'layout.html' %}

{% block body %}
  <div id="mainContent">


 {% block scripts %}
    <script>
    $(function(){
      $('#join-network-btn').click(function(e){
        // e.preventDefault();
        console.log("hello");

        // var url = $('form').prop('action');
        // var ssid = $('#ssid :selected').val();
        // var wifi_key = $('#wifi-key-field').val();
        // var data = JSON.stringify({"ssid": ssid, "psk": wifi_key});
        // console.log(url);
        // console.log(data)
        // $.ajax({
        //   url: url,
        //   data: data,
        //   type: 'POST',
        //   dataType: 'json',
        //   contentType: 'application/json',
        //   success: function(response){
        //     console.log("success!");
        //     console.log(response);
        //     window.location.href = "/connect?success=true";
        //   },
        //   error: function(error){
        //     console.log("error!");
        //     console.log(error);
        //     console.log(error.statusCode());
        //     window.location.href = "/connect?success=false";
        //   }
        // });
      });
    });
    </script>
  {% endblock %}



    <div id="wifiStatus">
      <p> wifi hotspot management status: {{ iotwifi_status }}</p>
      <p> you are currently connected to: {{ connected_wifi }}</p>
    </div>

    <h1>WiFi Setup</h1>
    <div class="wifiIcon"></div>

    <form id="join-network" action="{{ url_for('save_credentials') }}" method=post>
      <ul>
        <li><label for="ssid">Select your WiFi network</label></li>

        <li class="wifiNetwork">
          <select id="ssid" name="ssid", class="wifiNetworkInputs">
            {% for ssid in wifi_ap_array %}
              <option value='{{ ssid }}'>{{ ssid }}</option>
            {% endfor %}
          </select>
        </li>

        <li><a href="{{ url_for('manual_ssid_entry') }}" class="manualSSIDEntry">manual SSID entry -></a></li>

        <li><label for="wifi_key">Your Wifi password</label></li>
        <li><input id="wifi-key-field" type="password" name="wifi_key", class="wifiNetworkInputs"></li>

        <button type="submit" class="btn btn-primary wifiConnectButton" form="join-network" id="join-network-btn">Join</button>
      </ul>
    </form>



  </div>
{% endblock %}
